@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../fonts/SF-Pro-Display-Regular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@layer base {
  html,
  body {
    @apply h-full w-full;
    background: url('../images/desktop-background.jpg') center center;
    font-family: 'SF Pro';
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply rounded-lg;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-alabaster-400;
  }
}
